.navbar {
  background: #0de27e;
}

.form-control {
  border-radius: 15px;
  width: 600px;
  margin-left: 56px;
}

.search-icon {
  position: absolute;
  z-index: 10;
  right: 45%;
  top: 20px;
  color: blue;
}

.fas {
  margin-left: 2%;
}

button {
  margin-right: 2%;
  width: 80px;
}
